params {

  samplesheet = 'index.csv'
  outdir = 'results'

  flye_read_error = 0.03
  flye_ont_mode = 'nano-hq'
  nanoq_code_start = 1
  nanoq_read_length = 9000
  nanoq_num_ref = 1
  nanoq_qual_threshhold = 5
  nanoq_jump = 10
  help = false
}

singularity {
  enabled = true
  autoMounts = true
}

process {

  cpus = 1
  memory = 1.GB

  withLabel:small {
    cpus = 1
    memory = 1.GB
  }

  withLabel: medium {
    cpus = 2
    memory = 2.GB
  }

  withLabel: large {
    cpus = 4
    memory = 4.GB
  }
}

manifest {
    name            = 'eresearchqut/ontprocessing'
    author          = 'eResearch, QUT'
    homePage        = 'https://github.com/eresearchqut/ontprocessing'
    description     = 'Processing ONT Data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    version         = 'main'
}